In [1]:
import pandas as pd

In [2]:
results = pd.read_csv('results.csv')
shootouts = pd.read_csv('shootouts.csv')

In [3]:
allResults = results.join(shootouts.set_index(['date' , 'home_team' , 'away_team']), on=['date' , 'home_team' , 'away_team'])

In [4]:
allResults.fillna("0" , inplace=True)

In [5]:
for index, row in allResults.iterrows():
    if row["winner"] == "0":
        homeScore = float(row["home_score"])
        awayScore = float(row["away_score"])
        if homeScore > awayScore:
            allResults.iloc[index , allResults.columns.get_loc("winner")] = row["home_team"]
        elif homeScore < awayScore:
            allResults.iloc[index , allResults.columns.get_loc("winner")] = row["away_team"]
        else:
            allResults.iloc[index , allResults.columns.get_loc("winner")] = "tied"

In [6]:
allResults.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winner,first_shooter
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,tied,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,England,0
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Scotland,0
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,tied,0
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,Scotland,0

In [7]:
allResults.to_csv('allResults.csv')